#parrot-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#parrot{
    cursor: pointer;
    width: 200px;
}

#quote{
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #4b9cd3
}