#body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#parrot-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#parrot{
    cursor: pointer;
    width: 250px;
    height: 200px;

}

#quote{
    font-size: 1.5rem;
    font-weight: 500;
    color: #007b83;
    text-align: center;
    max-width: 80%;
    margin: 20px 0;
}

button{
    background-color: #ff9f1c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #ff7f50;
}